* {
    font-family: Arial, Helvetica, sans-serif;
}

/*font family*/

:root {
    --height: 60px;
    --pr: 2%;
    --textw: 1.08em; /*heading width default depnds on text width*/
    --ptextw: 1.11em; /*heading text width for phone*/
    --pnl: 0; /*the num of the heading text*/
    --dc: 300px;
}

html {
    height: 100%;
    margin: 0;
}

/*height set 100%*/

body {
    /*changed*/
    background-color: rgb(122, 122, 122);
    background-position-y: (--height);
    background-size: cover;
    background-image: url('/webpic/rimuru/computer_background/38.png');
    
    background-repeat: no-repeat;
    /*L*/
    background-size: 100%;
    margin: 0;
    /*nec*/
}

/*background color and image and size*/

heading {
    height: var(--height);
    padding: 5px;
    background-color: #AAE1F5;
}

heading>span {
    display: inherit;
    background-color: aqua;
    height: 100%;
    /*transform: translate(0%, 0%);*/
}

heading>span>a>img {
    height: 100%;
}

.text {
    position: absolute;
    height: calc(var(--height) - 10px);
    background-color: rgba(122, 122, 122, 0.4);
    margin-left: 1vw;
    font-size: calc(var(--height)*0.65);
    line-height: 140%;
}

.text {
    letter-spacing: 3px;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        cursor .5s step-end infinite alternate,
        typing 2.5s steps(var(--pnl)) forwards;
    animation-delay: 4s;
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: calc(var(--textw) * var(--pnl)); /* 动态设置宽度 */
    }
}

heading,
content1 {
    width: 100%;
    padding-left: 2%; /*Left original position*/
    padding-right: var(--pr);
    box-sizing: border-box;
    display: inline-block;
}

content1 {
    margin-top: 2vh;
}

content1>span {
    display: inline-block;
}

.video {
    aspect-ratio: 16 / 9;
    width: 800px;
}

.video iframe {
    width: 100%;
    height: 100%;
}

.dc {
    aspect-ratio: 2 / 3;
    width: var(--dc);
    margin: 0 2.71% 2.71% 0;
}

.dc iframe {
    width: 100%;
    height: 100%;
}

#list {
    position: absolute;
    text-align: center;
    font-size: 20px;
    margin-left: 2vw;
    margin-right: var(--pr);
    box-sizing: border-box;
}


@media screen and (max-height: 600px) {
    :root{
        --dc: 220px;
        --height: 40px;
        --textw: var(--ptextw);
    }

    body {
        background-color: rgb(245, 185, 170);
    }

/*
    heading {
        --height: 40px;
    }
*/

    .video {
        width: 320px;
    }

    #list {
        width: auto;
    }

    .text {
        line-height: 125%;
    }

}

@media screen and (max-width:600px) {
    
    :root{
        --dc: 220px;
        --height: 40px;
        --textw: var(--ptextw);
    }

    body {
        background-color: rgb(245, 185, 170);
        
        background-image: url('/webpic/rimuru/phone_background/7.png');
        
    }

    /* heading {
        --height: 40px;
    } */

    .video {
        width: 320px;
    }

    content1>span {
        display: block;
    }

    #list {
        margin-top: 40px;
        margin-left: 0px;
        width: auto;
    }

    .text {
        line-height: 125%;
    }

}

@media screen and (max-width: 1000px) and (min-height: 1000px) {
    :root{
        --dc: 220px;
        --height: 40px;
        --textw: var(--ptextw);
    }

    body {
        background-color: rgb(245, 185, 170);
        
        background-image: url('/webpic/rimuru/phone_background/7.png');
        
    }

    .video {
        width: 360px;
    }

    #list {
        width: auto;
    }

    .text {
        line-height: 125%;
    }

}