body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    background-image: url('../Webpic/hanabi_computer_wallpaper_05.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.message {
    font-size: 6vw; /* Responsive text size */
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px 20px; /* Add padding around the text */
    border-radius: 10px; /* Rounded corners for the background */
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1 forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    body {
        background-image: url('../Webpic/hanabi_phone_wallpaper_02.png');
    }

    .message {
        font-size: 8vw; /* Increase font size a bit for smaller screens */
    }
}
